@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");

@layer base {
  html {
    background-color: #ffffff;
  }

  html.dark {
    background-color: #000000;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: "Raleway", system-ui, sans-serif;
    background-color: transparent;
  }
}

* {
  box-sizing: border-box;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html,
body,
* {
  cursor: none !important;
}
.custom-cursor {
  position: fixed;
  width: 32px;
  height: 32px;
  pointer-events: none;
  top: 0;
  left: 0;
  z-index: 999999;
  opacity: 0;
  will-change: transform, opacity, left, top;
}
